[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/cupper"]
	path = themes/cupper
	url = git@github.com:zwbetz-gh/cupper-hugo-theme.git
